@import "libs/var";
@import "libs/animations";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 600 1rem/1.3 Consolas, Andale Mono, monospace;
  font-size: 1.2rem;
}

header {
  animation: textShadow 6s infinite;
}

body {
  background: url(../assets/images/greenscreen.png) no-repeat fixed center center;
  overflow: hidden;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: greenyellow;
  z-index: 0;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a, a:visited {
    text-decoration: none;
    color: greenyellow;
  }

  a:hover {
    color: white;
  }
}

.centered {
  width: 50%;
  text-align: center;
  margin: auto;
}

.middle {
  margin: 20% auto;
  height: 50%;

}

.screen {
  background: repeating-linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.2) 4px,
                  rgba(0, 0, 0, 0.3) 4px,
                  rgba(0, 0, 0, 0.3) 4px,
                  rgba(0, 0, 0, 0.3) 8px
  );
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 200% 200%;
  animation: waves 20s linear infinite;
  animation-direction: reverse;
}

.flicker::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
                  rgba(18, 16, 16, 0) 50%,
                  rgba(0, 0, 0, 0.25) 50%
  ), linear-gradient(
                  90deg,
                  rgba(57, 255, 55, 0.11),
                  rgba(0, 255, 0, 0.02),
                  rgba(0, 0, 255, 0.06)
  );
  z-index: -1;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  animation: flicker 2s infinite;
}

.opening-text p {
  border-right: 1em solid green;
  font-family: "Courier", serif;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 20%;
  width: 100%;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
  animation: type 2s steps(40, end), blink .5s step-end infinite alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.opening-text p:nth-child(1) {
  width: 15em;
  animation: timed-disappear 4s forwards;
}


.opening-text p:nth-child(2) {
  width: 100%;
  //-webkit-animation-delay: 2s;
  //animation-delay: 2s;
}

.opening-text p:nth-child(3) {
  width: 100%;
  //-webkit-animation-delay: 3s;
  //animation-delay: 3s;
}








.typed {
  position: relative;
  margin-left: 5%;
  animation: textShadow 6s infinite;
  word-break-wrap: none;
}

.cursor {
  position: relative;
  margin-left: 5%;

}

.cursor::after {
  content: "";
  margin-left: 0.5em;
  width: 1px;
  height: 5%;
  border-right: 1em solid green;
  animation: cursor .8s infinite;
}




