@keyframes waves {
  0% {
    opacity: 0.2;
  }
  5% {
    opacity: 0.5;
  }
  15% {
    opacity: 0.3;
  }
  18% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  100% {
    background-position: 30% 30%;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.15;
  }
  40% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.99;
  }
  70% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.35;
  }
  80% {
    opacity: 0.9;
  }
  85% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.7;
  }
  95% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4px 0 1px rgba(0, 30, 255, 0.5), -0.4px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.5px 0 1px rgba(0, 30, 255, 0.5), -3.5px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6px 0 1px rgba(0, 30, 255, 0.5), -1.6px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.2px 0 1px rgba(0, 30, 255, 0.5), -2.2px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.1px 0 1px rgba(0, 30, 255, 0.5), -0.1px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.4px 0 1px rgba(0, 30, 255, 0.5), -2.4px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.2px 0 1px rgba(0, 30, 255, 0.5), -2.2px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8px 0 1px rgba(0, 30, 255, 0.5), -2.8px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.1px 0 1px rgba(0, 30, 255, 0.5), -0.1px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.1px 0 1px rgba(0, 30, 255, 0.5), -0.1px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.5px 0 1px rgba(0, 30, 255, 0.5), -3.5px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.2px 0 1px rgba(0, 30, 255, 0.5), -2.2px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.5px 0 1px rgba(0, 30, 255, 0.5), -2.5px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes cursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: green;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 600 1rem/1.3 Consolas, Andale Mono, monospace;
  font-size: 1.2rem;
}

header {
  background: rgba(148, 166, 182, 0);
  animation: textShadow 6s infinite;
}

body {
  background: url(../assets/images/greenscreen.png) no-repeat fixed center center;
  overflow: hidden;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: greenyellow;
  z-index: 0;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer a, footer a:visited {
  text-decoration: none;
  color: greenyellow;
}
footer a:hover {
  color: white;
}

.centered {
  width: 50%;
  text-align: center;
  margin: auto;
}

.middle {
  margin: 20% auto;
  height: 50%;
}

.screen {
  background: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 8px);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 200% 200%;
  animation: waves 20s linear infinite;
  animation-direction: reverse;
}

.flicker::before {
  content: "flicker";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(57, 255, 55, 0.11), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: -1;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  animation: flicker 2s infinite;
}

.type_effect {
  display: inline-block;
  color: limegreen;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 1em solid;
  /* The cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  max-width: 50%;
  animation: typing 8s steps(60, end), textShadow 6s infinite, cursor 0.5s step-end infinite;
}

/*# sourceMappingURL=main.css.map */
