@keyframes waves {
  0% {
    opacity: 0.2;
  }
  5% {
    opacity: 0.5;
  }
  15% {
    opacity: 0.3;
  }
  18% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  100% {
    background-position: 30% 30%;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.15;
  }
  40% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.99;
  }
  70% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.35;
  }
  80% {
    opacity: 0.9;
  }
  85% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.7;
  }
  95% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4px 0 1px rgba(0, 30, 255, 0.5), -0.4px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.5px 0 1px rgba(0, 30, 255, 0.5), -3.5px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6px 0 1px rgba(0, 30, 255, 0.5), -1.6px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.2px 0 1px rgba(0, 30, 255, 0.5), -2.2px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.1px 0 1px rgba(0, 30, 255, 0.5), -0.1px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.4px 0 1px rgba(0, 30, 255, 0.5), -2.4px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.2px 0 1px rgba(0, 30, 255, 0.5), -2.2px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8px 0 1px rgba(0, 30, 255, 0.5), -2.8px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.1px 0 1px rgba(0, 30, 255, 0.5), -0.1px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.1px 0 1px rgba(0, 30, 255, 0.5), -0.1px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.5px 0 1px rgba(0, 30, 255, 0.5), -3.5px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.2px 0 1px rgba(0, 30, 255, 0.5), -2.2px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.5px 0 1px rgba(0, 30, 255, 0.5), -2.5px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 1em solid green;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@-webkit-keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 1em solid green;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes timed-disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.2rem;
}

header {
  animation: textShadow 6s infinite;
}

body {
  background: url(../assets/images/greenscreen.png) no-repeat fixed center center;
  overflow: hidden;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: greenyellow;
  z-index: 0;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer a, footer a:visited {
  text-decoration: none;
  color: greenyellow;
}
footer a:hover {
  color: white;
}

.centered {
  width: 50%;
  text-align: center;
  margin: auto;
}

.middle {
  margin: 20% auto;
  height: 50%;
}

.screen {
  background: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 8px);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 200% 200%;
  animation: waves 20s linear infinite;
  animation-direction: reverse;
}

.flicker::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(57, 255, 55, 0.11), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: -1;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  animation: flicker 2s infinite;
}

.opening-text {
  margin: 20% auto;
  height: 50%;
  width: 50%;
  font-size: 1.2em;
}
.opening-text p {
  border-right: 1.2em solid green;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  opacity: 0;
}

.opening-text p.active {
  display: block;
  width: 100%;
  -webkit-animation: type 5s steps(100, end), blink 1s step-end infinite alternate, textShadow 6s infinite;
  animation: type 5s steps(100, end), blink 1s step-end infinite alternate, textShadow 6s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.typed {
  position: relative;
  margin-left: 5%;
  animation: textShadow 6s infinite;
  word-break-wrap: none;
}

.cursor {
  position: relative;
  margin-left: 5%;
}

.cursor::after {
  content: "";
  margin-left: 0.5em;
  width: 1px;
  height: 5%;
  border-right: 1em solid green;
  animation: cursor 0.8s infinite;
}

/*# sourceMappingURL=main.css.map */
