@import "libs/var";

* {
  font-size: $font-Size;
}

//borders
.bar {
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  animation: textShadow 6s infinite;
  z-index: 0;

  div {
    height: fit-content;
    flex-grow: 100;
    margin-right: $externalMargin;
    margin-left: $externalMargin;
  }

  a, a:visited {
    text-decoration: none;
    color: greenyellow;
  }

  a:hover {
    color: white;
  }
}

.topBar {
  box-shadow: 0 1em 0.5em 0.5em rgba(0, 0, 0, 0.7);
  div {
    border-top: $borderGreen solid $borderSize;
    margin-top: $externalMargin;
  }
}

.barBottom {
  box-shadow: 0 -1em 0.5em 0.5em rgba(0, 0, 0, 0.7);
  div {
    border-bottom: $borderGreen solid $borderSize;
    margin-bottom: $externalMargin;
  }
}

.greenBoxLeft {
  border-left: $borderGreen solid $borderSize;

  a {
    margin-left: $externalMargin;
    float: left;
  }
}

.greenBoxRight {
  border-right: $borderGreen solid $borderSize;

  a {
    margin-right: $externalMargin;
    float: right;
  }
}


// terminal

.terminal {
  flex-direction: column;
  margin: $externalMargin;
  max-height: 90%;
  overflow-y: scroll;

}

.output {
  display: flex;
  flex-direction: column;
}

#commandLine {
  display: flex;
  width: 100%;
  min-height: $font-Size;
  p {
    font-size: $font-Size;
  }

}

.input {
  background: rgba(255, 255, 255, 0);
  color: greenyellow;
  resize: none;
  height: $font-Size;
  width: 100%;
  overflow: auto;
  outline: none;
  #input:focus {
    outline-offset: 0;
  }
}


::-webkit-scrollbar {
  width: 0;
  background: transparent; /* make scrollbar transparent */
}

.pipBoy {
  opacity: 0.5;
  min-width: 30%;
}
//
//.help {
//  position: fixed;
//  text-align: center;
//  height: fit-content;
//  width: fit-content;
//  padding: .5em;
//  background: rgba(0,0,0, 1);
//  box-shadow: 0.5em 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.7);
//  border-radius: .33em;
//  z-index: -1;
//  button {
//    margin: .5em;
//  }
//}