* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.5vw;
}


//borders
.topBar {
  display: flex;
  background: rgba(255,255,255,0);
  animation: textShadow 6s infinite;
  div {
    border-top: #00ef58 solid .1em;
    height: fit-content;
    flex-grow: 100;
    margin-top: .5em;
  }
  a, a:visited {
    text-decoration: none;
    color: greenyellow;
  }
  a:hover {
    color: white;
  }
}

.greenBoxLeft {
  border-left: #00ef58 solid .1em;
  margin-right: .5em;
}

.greenBoxRight {
  border-right: #00ef58 solid .1em;
  margin-left: .5em;
  a {
    float: right;
  }
}

.barBottom {
  display: flex;
  background: rgba(255,255,255,0);
  animation: textShadow 6s infinite;
  div {
    border-bottom: #00ef58 solid .1em;
    height: fit-content;
    flex-grow: 100;
    margin-bottom: .5em;
  }
  a, a:visited {
    text-decoration: none;
    color: greenyellow;
  }

  a:hover {
    color: white;
  }
}

// screen output
.wrapperBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin: .5em;
}



// terminal
.terminal {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.output {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;

}

::-webkit-scrollbar {
  width: 0;
  background: transparent; /* make scrollbar transparent */
}

.input {
  background: rgba(255,255,255,0);
  color: greenyellow;
  resize: none;
  height: 1.5vw;
  width: 100%;
  min-width: 2em;
  overflow: auto;
  outline: none;
  caret-shape: underscore;
  caret: aliceblue underscore;
}

.commandLine {
  display: flex;
  width: 100%;
}